mixin card(drive)
    tr  
        - if(drive.arrival){
        td.darkgrey #{drive.arrival} 
        - }else{
        td.darkblue &nbsp;
        -}
        td #{drive.departure}

        - if(drive.delay){
        td.red +#{drive.delay} 
        - }else{
        td &nbsp;&nbsp;&nbsp;&nbsp;
        -}

        - if(drive.delay != 0){
        td.green  #{drive.realdepature} 
        - }else if(drive.delay == 0){
        td.green  #{drive.departure}
        - }else{
        td &nbsp;
        - }

        - if(drive.track){
        td.blue #{drive.track} 
        - }else{
        td.darkblue &nbsp;
        -}

        td #{drive.vehicle}

        - if(drive.via){
        td.smallfont #{drive.via} 
        - }else{
        td &nbsp;
        -}

        td #{drive.destination}
        
        - if(drive.info.delay || drive.info.qos){
        td.yellow #{drive.info.delay} #{drive.info.qos} 
        - }else{
        td &nbsp;
        -}