mixin card(drive)
    tr
        td #{drive.departure}

        - if(drive.delay){
        td.red +#{drive.delay} 
        - }else{
        td 
        -}

        - if(drive.delay){
        td.green  #{drive.realdepature} 
        - }else{
        td &nbsp;
        -}

        - if(drive.track){
        td.blue Gleis #{drive.track} 
        - }else{
        td &nbsp;
        -}

        td #{drive.vehicle}
        td #{drive.station}

        - if(drive.info){
        td.white #{drive.info} 
        - }else{
        td &nbsp;
        -}