mixin card(drive)
    tr
        td #{drive.departure} 
        - if(drive.delay){
            td.red.d-inline +#{drive.delay} 
        - }else{
            td &nbsp;
        -}
        - if(drive.delay){
            td.green.d-inline  #{drive.realdepature} 
        - }else{
            td &nbsp;
        -}
        td #{drive.vehicle}
        td #{drive.station}
        - if(drive.track){
            td.blue.d-inline :: Gleis #{drive.track} 
        - }else{
            td &nbsp;
        -}
        - if(drive.info){
            td.white #{drive.info} 
        - }else{
            td &nbsp;
        -}