mixin card(drive)
    .card.bg-dark.col-12.border-light
        .card-title 
            strong 
                | #{drive.departure} 
                - if(drive.delay){
                strong.red.d-inline +#{drive.delay} 
                | ::
                - }
                - if(drive.delay){
                strong.green.d-inline  #{drive.realdepature} 
                - }
                |-
                | #{drive.station}
                - if(drive.track){
                strong.blue.d-inline  :: Gleis #{drive.track} 
                - }
        if drive.info
            .card-body
                p.card-text.white #{drive.info}
